{% assign default_hero = "/assets/images/site/js-steamdeck-hero-lighter.webp" %}
{% assign hero_image = page.header.overlay_image | default: default_hero %}
<div class="js-hero js-hero--overlay" style="background-image: url('{{ hero_image | relative_url }}');">
  <div class="js-hero__wrapper">
    {% if page.title %}
    <h1 class="js-hero__title">{{ page.title }}</h1>
    {% endif %}

    {% if page.excerpt %}
    <p class="js-hero__lead">{{ page.excerpt | markdownify | remove: "<p>" | remove: "</p>" }}</p>
    {% endif %}

    {% if page.header.actions and page.header.cta_float != true %}
    <div class="js-hero__actions">
      {% for action in page.header.actions %}
      <a href="{{ action.url | relative_url }}" class="{{ action.class | default: 'button' }}">{{ action.label }}</a>
      {% endfor %}
    </div>
    {% endif %}
  </div>

  {% if page.header.actions and page.header.cta_float == true %}
  <div class="hero-cta-box">
    {% for action in page.header.actions %}
    <a href="{{ action.url | relative_url }}" class="{{ action.class | default: 'button' }}">{{ action.label }}</a>
    {% endfor %}
  </div>
  {% endif %}
</div>
